<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Update Student details</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form" >
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Name " formControlName="name" #name>
          </mat-form-field>
  
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Country" formControlName="country" #country>
          </mat-form-field>
  
          <mat-form-field class="field-full-width">
            <textarea matInput placeholder="Subject" formControlName="subject" #subject></textarea>
          </mat-form-field>
  
          <mat-form-field>
              <mat-select placeholder="Gender" formControlName="gender" #gender>
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                
              </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
  <br><br>
  <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
  <button type="submit" (click)="updateStudentmainMethod(name.value, country.value, subject.value, gender.selected.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Update</button> 
  
      </form>
    </mat-card>
  </div>
